.cocktailCard{
    display: flex;
    margin-bottom: 3.5rem;
}

div.cocktailCard:not(:first-of-type){
    padding-top: 3.5rem;
    border-top: 1px solid gainsboro;
}
.cocktailImg{
    display: flex;
    margin-right: 3rem;
}
.cocktailDetails{
    /* display: flex; */
}
.cocktailDetails h2{
    margin-bottom: 1rem;
}
.cocktailThumb{
    width : 15rem;
    height : 15rem;
    display: inline-block;
    /* border: 1px solid black; */
    border-radius: 5px;
}